# ==============================================================================
# Modelo de Credenciais Temporárias da AWS e Golden AMIs
# Copie este arquivo para 'credentials.tfvars' dentro de terraform/envs/
# e preencha com os dados do botão "AWS Details" -> "AWS CLI" do Learner Lab.
# ==============================================================================

aws_access_key    = "COLE_AQUI_SEU_AWS_ACCESS_KEY_ID"
aws_secret_key    = "COLE_AQUI_SEU_AWS_SECRET_ACCESS_KEY"
aws_session_token = "COLE_AQUI_SEU_AWS_SESSION_TOKEN"

# As variáveis abaixo são opcionais e são preenchidas automaticamente pelo script build_golden_amis.py
# web_ami    = ""
# worker_ami = ""
